/* Адаптация */
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 320px) {

}
/* Адаптация */




@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


.background {
    margin: 0 auto;
    width: 1445px;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    padding-top: 32px;
}


.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 155px;
    list-style-type: none;
}

.header_item:last-child {
    margin-right: 0;
}

/* .header_link1 {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: #070707;
} */

.header_link {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: #828282;
}

.wrapper {
    width: 941px;
    margin: 0 auto;
}

.line {
    margin-top: 32px;
    border: 1px solid #828282
}

.about_me {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.lang {
    background-color: white;
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: white;
}

.developer {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;

    /* Black */

    color: #070707;
}

.wrapperText {
    width: 485px;
    max-height: 278px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 107px;
    
}

.aboutText {
    margin-top: 120px;
}

.aboutMeOne {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 30px;
}

p{
    font-family: 'Gilroy-Medium';
    color: #070707;
}

.AboutZ {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Gilroy-Bold';
}

h1 {
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
}

.myPhoto {
    width: 944px;
    max-height: 387px;
    margin-top: 50px;
    margin-bottom: 105px;
}

.Muaz {
    cursor: pointer;
    transition: 1s linear;
    opacity: 0.9;
    width: 944px;
    max-height: 387px;
    width: 100%;
}


.aboutText {
    width: 1445px;
    background: #F6F6F6;
}


.razdel {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

figcaption {
    padding-bottom: 100px;
    padding-top: 25px;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    color: #828282;
    text-align: center;
}


.portfolio {
    padding-top: 130px;
    padding-bottom: 96px;
    width: 941px;
    margin: 0 auto;
    text-align: center;
}

.portfolio img {
    padding-bottom: 44px;
    padding-top: 20px;
    width: 930px;
}

.portfolio a {
    font-family: 'Gilroy-Medium';
    font-size: 22px;
    text-decoration-line: underline;
    color: #070707;
}

.portfolio_img {
    padding-bottom: 100px;
}

.portfolio_img p {
    padding-top: 10px;
    color: #828282
}

.contact {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
}
.contact_dis {
    color: #F6F6F6;
    font-size: 18px;
}
.container_btn {
    padding-top: 40px;
}
.btn {
    cursor: pointer;
    border: 0;
    border-radius: 50px;
    background-color: white;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 35px;
    padding-right: 35px;
}

.btn:hover {
    background-color: #828282;
}

.container_links {
    padding-top: 95px;
    padding-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.icon_link {
    padding-right: 70px;
}

.look_me {
    font-size: 14px;
    color: #828282
}

.end {
    padding-bottom: 20px;
}

.footer {
    padding-top: 107px;
    color:#F6F6F6;
    background-color: #070707;
    margin: 0 auto;
    text-align: center;
    width:1445px;
}

.skills {
    padding-top: 107px;
}

